<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.budgetapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetApp">
        <activity android:name=".View.RappelActivity"></activity>
        <activity android:name=".View.UpdateProfilActivity" />
        <activity android:name=".View.AcceuilActivity" />
        <activity android:name=".View.UpdateCategorieActivity" />
        <activity android:name=".View.UpdateTransactionActivity" />
        <activity android:name=".View.AddCategorieActivity" />
        <activity android:name=".View.AddTransactionActivity" />
        <activity android:name=".View.CategoriesActivity" />
        <activity
            android:name=".View.SplashScreenActivity"
            android:theme="@style/splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.RegisterActivity" />
        <activity android:name=".View.LoginActivity" />
        <activity android:name=".View.MainActivity" />
    </application>

</manifest>